.header{
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin: auto;
}

.Food{
  background-color: orange;
  margin-right: 10px;
  text-align: center;
  
  
}

.Search{
  background-color: yellow;
  margin-right: 30px;
  text-align: center;

}

.user{
  background-color: green;
  text-align: center;
 
}